/*Colors*/
/*Fonts and sizes*/
body {
  /*PARTE ALEXANDRA*/
  background-color: #fde4fe;
  font-family: "Alexandria", serif;
  /*Back to top button*/
  /*Sign in/out modals*/
  /*Header*/
  /*Desktop navbar*/
  /*Index Main*/
  /*Wedding & Contact SCSS*/
  /*Contact SCSS*/
  /*Contact Main*/
  /*Cookie Modal*/
  /*Contact & Wedding Forms*/
  /*Contact Aside*/
  /*Contact Modal*/
  /*Contact Toast*/
  /*Contact toast & modal close buttons*/
  /*PARTE ALEXANDRA*/
  /*Footer*/
}
body #btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
body #btn-back-to-top svg {
  background-color: #fde4fe;
  border: 5px solid #fde4fe;
  border-radius: 100px;
}
body #btn-back-to-top:active {
  border: 0px solid;
}
body .modal button {
  background-color: #953154;
  border-color: #953154;
  color: white;
}
body .modal button[type=reset] {
  background-color: #e59eb9;
  color: #953154;
}
body .modal button[type=reset]:hover {
  background-color: #953154;
  color: white;
}
body .modal button:not(.btn-close):hover {
  background-color: #e59eb9;
  color: #953154;
  border-color: #953154;
}
body .modal .modal-body button:active, body .modal .modal-footer button:active {
  background-color: #e59eb9;
  color: #953154;
  border-color: #953154;
  box-shadow: 0 0 0 0.25rem rgba(229, 158, 185, 0.25);
}
body .modal .modal-header {
  background-color: #953154;
  color: white;
}
body .modal .modal-header .btn-close:focus {
  box-shadow: 0 0 0 0 rgba(229, 158, 185, 0.25);
}
body .modal .modal-body input, body .modal .modal-body h2, body .modal .modal-body select, body .modal .modal-body label, body .modal .modal-body [id^=inputGroupPrepend] {
  color: #953154;
}
body .modal .modal-body input:focus, body .modal .modal-body h2:focus, body .modal .modal-body select:focus, body .modal .modal-body label:focus, body .modal .modal-body [id^=inputGroupPrepend]:focus {
  border-color: #953154;
  box-shadow: 0 0 0 0.25rem rgba(229, 158, 185, 0.25);
}
body .modal .modal-body input[type=checkbox]:checked, body .modal .modal-body h2[type=checkbox]:checked, body .modal .modal-body select[type=checkbox]:checked, body .modal .modal-body label[type=checkbox]:checked, body .modal .modal-body [id^=inputGroupPrepend][type=checkbox]:checked {
  background-color: #953154;
  border-color: #953154;
}
body .modal .modal-body table thead th, body .modal .modal-body table #total {
  color: white;
  background-color: #953154;
}
body .modal .modal-body table tr {
  border-color: #953154;
}
body .modal .modal-body table tr td {
  color: #953154;
  background-color: #fde4fe;
}
body .modal .modal-body table tbody {
  border-top-color: #953154;
}
body .modal .modal-body table tbody th, body .modal .modal-body table tbody #totalPrice {
  color: #953154;
  background-color: #e59eb9;
}
body header {
  background-color: #953154;
}
body header .nav-header .input-group {
  width: 150px;
  background-color: white;
  border-radius: 100px;
}
body header .nav-header .input-group button:active {
  border: 0px solid;
}
body header .nav-header .input-group .form-control {
  border-radius: 100px;
  border: none;
  color: #953154;
}
body header .nav-header .input-group .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 158, 185, 0.25);
}
body header .nav-burger .offcanvas-header,
body header .nav-burger .offcanvas-footer {
  background-color: #953154;
}
body header .nav-burger .offcanvas-body {
  background-color: #e59eb9;
}
body header .nav-burger .offcanvas-body ul .nav-item {
  margin: 30px 0px 0px 30px;
}
body header .nav-burger .offcanvas-body ul .nav-item a {
  color: #953154;
}
body header .nav-burger .offcanvas-body ul .nav-item a:hover {
  color: white;
}
body header .nav-burger .input-group {
  background-color: white;
  border-radius: 100px;
  width: 100%;
}
body header .nav-burger .input-group input {
  border-radius: 100px;
  border: none;
  color: #953154;
}
body header .nav-burger div .navbar-toggler {
  border: none;
}
body header .nav-burger div .navbar-toggler:focus {
  box-shadow: 0 0 0 0 rgba(229, 158, 185, 0.25);
}
body header .nav-burger .offcanvas {
  transition: transform 0.3s ease-in-out;
}
body header .nav-burger .offcanvas .offcanvas-header .btn-close:focus {
  box-shadow: 0 0 0 0 rgba(229, 158, 185, 0.25);
}
body .nav-desktop {
  background-color: #e59eb9;
}
body .nav-desktop .nav-pills li a {
  color: #953154;
  margin: 0px 10px 0px 10px;
}
body .nav-desktop .nav-pills li a:hover {
  color: white;
}
body .nav-desktop .nav-pills li ul {
  background-color: #e59eb9;
  border-radius: 0px;
  border: none;
}
body .nav-desktop .nav-pills li ul li a {
  color: #953154;
}
body .nav-desktop .nav-pills li ul li a:hover {
  background-color: #953154;
}
body main {
  /*PARTE ALFONSO*/
  /*Wedding Banner Section*/
}
body main section {
  /*SECTION 1*/
  /*SECTION 2*/
}
body main section h5 {
  color: #953154;
}
body main section #flowerCarousel {
  background-color: #d9aebd;
  border-radius: 10px;
  /* .carousel-item {min-height: 550px;} */
}
body main section #flowerCarousel .carousel-indicators button {
  background-color: #953154;
}
body main section #flowerCarousel .carousel-caption {
  color: #953154;
  right: 0;
  left: 0;
}
body main section #flowerCarousel .carousel-caption a {
  color: #953154;
}
body main section #flowerCarousel .carousel-caption a:hover {
  color: white;
}
body main section #flowerCarousel button span {
  background-color: #953154;
  border-radius: 10px;
}
body main section .card-img-overlay {
  background-color: rgba(149, 49, 84, 0.8);
  bottom: 50%;
}
body main section .events {
  background-color: #d9aebd;
  border-radius: 10px;
}
body main section .events .col-md-6 {
  transition: transform 0.2s;
  color: #953154;
}
body main section .events .col-md-6:hover {
  transform: scale(1.1);
}
body main section .events nav ul a {
  background-color: #e59eb9;
  color: #953154;
  border-color: #953154;
}
body main section .events nav ul .active a {
  background-color: #953154;
  color: white;
  border-color: #953154;
}
body main section .events nav ul a:hover {
  background-color: #fde4fe;
  color: #953154;
}
body main section .events nav ul a:active, body main section .events nav ul a:focus {
  border-color: #953154;
  box-shadow: 0 0 0 0.25rem rgba(122, 20, 59, 0.25);
}
body main section .faqs a, body main section .faqs button {
  background-color: #953154;
  border-color: #953154;
  color: white;
}
body main section .faqs a:not(.collapsed), body main section .faqs button:not(.collapsed) {
  background-color: #953154;
  color: white;
}
body main section .faqs a:not(.collapsed)::after, body main section .faqs button:not(.collapsed)::after {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
body main section .faqs a::after, body main section .faqs button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
body main section .faqs a:hover, body main section .faqs button:hover {
  background-color: #e59eb9;
  color: #953154;
  border-color: #953154;
}
body main section .faqs a:active, body main section .faqs a:focus, body main section .faqs button:active, body main section .faqs button:focus {
  border-color: #953154;
  box-shadow: 0 0 0 0.25rem rgba(122, 20, 59, 0.25);
}
body main section .faqs .tips:hover {
  background-color: #fde4fe;
}
body main section .faqs .accordion-body {
  background-color: #e59eb9;
  color: #953154;
}
body main #wedding-section {
  background-image: url(../imgs/Weddings/weddingBanner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  min-height: 100px;
}
@media (min-width: 768px) {
  body main #wedding-section {
    min-height: 500px;
  }
}
body main #wedding-section div {
  background-color: rgba(229, 158, 185, 0.6901960784);
  max-width: 400px;
  min-height: 100px;
}
@media (min-width: 768px) {
  body main #wedding-section div {
    margin-top: 180px;
  }
}
body main #wedding-section div span {
  font-family: "Aboreto", serif;
  letter-spacing: 5px;
  text-align: center;
}
body main #wedding-main-elements #wedding-info {
  background-color: #d9aebd;
}
body main #wedding-main-elements .fs-5, body main #wedding-main-elements h5, body main #wedding-main-elements .fs-4, body main #wedding-main-elements h4 {
  color: #953154;
}
body main #wedding-main-elements p {
  color: #fff;
}
body main #wedding-main-elements p span {
  color: #953154;
}
body main #wedding-main-elements .nav-pills .nav-link.active,
body main #wedding-main-elements .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #953154;
}
body main #wedding-main-elements .navbar-nav-scroll {
  scrollbar-width: none;
}
body main #wedding-main-elements .navbar-nav-scroll::-webkit-scrollbar {
  display: none;
}
body .mContact form .btn, body #cookie form .btn {
  background-color: rgba(149, 49, 84, 0.6392156863);
  border-color: #e59eb9;
  letter-spacing: 5px;
}
body .mContact form .btn:hover, body #cookie form .btn:hover {
  border-color: #fde4fe;
}
body .mContact form .btn:active, body #cookie form .btn:active {
  background-color: rgba(149, 49, 84, 0.3960784314);
  border-color: #fde4fe;
}
body .mContact .nav-link {
  background-color: rgba(149, 49, 84, 0.6392156863);
  border-color: #e59eb9;
}
body .mContact .nav-link:hover {
  border-color: #953154;
}
body .mContact .nav-tabs {
  border-bottom: 2px solid #953154;
}
body .mContact .nav-tabs .nav-link.active,
body .mContact .nav-tabs .nav-item.show .nav-link {
  background-color: #953154;
  border-color: #e59eb9;
}
body .mContact #forms-nav {
  background-color: #d9aebd;
}
body .mContact .dropdown-menu {
  background-color: #fde4fe;
  border: 1px solid rgba(149, 49, 84, 0.6392156863);
  border-radius: 5px;
}
body .mContact .dropdown-menu form {
  max-width: 19rem;
}
body .mContact .dropdown-menu form .btn:hover {
  border-color: #953154;
}
body .mContact form .form-control::placeholder {
  color: #953154;
}
body .mContact form .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(149, 49, 84, 0.3960784314);
}
body .mContact form .input-group-text {
  background-color: rgba(149, 49, 84, 0.6392156863);
  border: 1px solid #e59eb9;
}
body .mContact form label {
  color: #953154;
}
body .mContact form input,
body .mContact form select,
body .mContact form textarea {
  color: #953154;
  background-color: #fff;
  border-color: #e59eb9;
  scrollbar-width: none;
}
body .mContact form textarea::-webkit-scrollbar {
  display: none;
}
body .mContact form select:focus {
  border-color: transparent;
  box-shadow: 0 0 0.2rem 0.25rem transparent;
}
body .mContact form [type=file]::file-selector-button {
  background-color: rgba(149, 49, 84, 0.6392156863);
  color: #fff;
}
body .mContact form .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: rgba(149, 49, 84, 0.6392156863);
  border-color: #e59eb9;
}
body .mContact form textarea {
  min-height: 75px;
  max-height: 150px;
}
body #cookie hr, body #cookie a, body #cookie label {
  color: #953154;
}
body #cookie form .form-check-input {
  border-color: #953154;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23953154'/%3e%3c/svg%3e");
}
body #cookie form .form-check-input:checked {
  background-color: #953154;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
body .tooltip-inner {
  background-color: #953154; /* Cambia este valor al tono de rosa que desees */
  font-weight: bold;
  font-size: large;
}
body .mContact form .btn, body #cookie form .btn {
  background-color: rgba(149, 49, 84, 0.6392156863);
  border-color: #e59eb9;
  letter-spacing: 5px;
}
body .mContact form .btn:hover, body #cookie form .btn:hover {
  border-color: #fde4fe;
}
body .mContact form .btn:active, body #cookie form .btn:active {
  background-color: rgba(149, 49, 84, 0.3960784314);
  border-color: #fde4fe;
}
body aside {
  color: #953154;
  flex-basis: 280px;
}
body aside .carousel-item {
  height: 210px;
}
body aside .side {
  background-color: #d9aebd;
  height: 680px;
  min-width: 200px;
}
body aside .side #coment {
  overflow-y: auto;
  scrollbar-width: none;
}
body aside .side #coment::-webkit-scrollbar {
  display: none;
}
body .modal-header {
  background-color: rgba(149, 49, 84, 0.6392156863);
}
body .toast .toast-header {
  background-color: #953154;
}
body .toast .toast-header img {
  max-width: 130px;
}
body .toast .toast-body {
  background-color: #d9aebd;
}
body .toast .toast-body span {
  color: #953154;
}
body .toast .toast-body svg {
  color: #953154;
  width: 30px;
  height: 30px;
}
body .toast .btn-close:focus, body .modal .btn-close:focus {
  box-shadow: 0 0 0 0.25rem #fde4fe;
}
body .toast .btn-close, body .modal .btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
body footer {
  background-color: #953154;
}
body footer hr {
  margin-left: 20%;
  margin-right: 20%;
}

/*# sourceMappingURL=style.css.map */
