@import "helper/variables";
@import "helper/placeholders";
@import "helper/mixins";

body {
/*ALEXANDRA'S PART*/
    background-color: $light-pink;
    font-family: $alexandria;
/*Back to top button*/
    #btn-back-to-top {
        z-index: 1;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
        svg {
            background-color: $light-pink;
            border: 5px solid $light-pink;
            border-radius: 100px;
        }
        &:active {border: 0px solid;}
    }
/*Modals*/
    .modal{
        button{
            @extend %dark-bg-white-text;
            border-color: $dark-pink;
            &[type='reset']{
                @extend %bubblegum-bg-dark-text;
                &:hover{
                    @extend %dark-bg-white-text;
                }
            }
            &:not(.btn-close):hover{
                @extend %bubblegum-bg-dark-text;
                border-color: $dark-pink;
            }
        }
        .modal-body button:active, .modal-footer button:active{
            @extend %bubblegum-bg-dark-text;
            border-color: $dark-pink;
            box-shadow: 0 0 0 0.25rem rgba(229, 158, 185, 0.25);
        }
        .modal-header{
            @extend %dark-bg-white-text;
            .btn-close:focus {box-shadow: 0 0 0 0 rgba(229, 158, 185, 0.25);}
        }
        .modal-body{
            input, h2, select, label, [id^='inputGroupPrepend']{
                color: $dark-pink;
                &:focus{
                    border-color: $dark-pink;
                    box-shadow: 0 0 0 0.25rem rgba(229, 158, 185, 0.25);
                }
                &[type='checkbox']:checked{
                    background-color: $dark-pink;
                    border-color: $dark-pink;
                }
            }
            .list-group .list-group-item-action{
                @extend %bubblegum-bg-dark-text;
                border-color: $dark-pink;
            }
            table{
                thead th, #total{@extend %dark-bg-white-text;}
                tr{
                    border-color: $dark-pink;
                    td{
                        color: $dark-pink;
                        background-color: $light-pink;
                    }
                }
                tbody{
                    border-top-color: $dark-pink;
                    th, #totalPrice{@extend %bubblegum-bg-dark-text;}
                }
            }
            .spinner-border{color: $dark-pink;}
            .placeholder-glow a{background-color: $dark-pink;}
        }
    }
/*Header*/
    header {
        background-color: $dark-pink;
        .badge{
            background-color: $bubblegum-pink;
        }
        .nav-header .input-group {
            max-width: 200px;
            background-color: white;
            border-radius: 100px;
            button:active {border: 0px solid;}
            .form-control {
                border-radius: 100px;
                border: none;
                color: $dark-pink;
                &:focus { box-shadow: 0 0 0 0.25rem rgba(229, 158, 185, 0.25);}
            }
        }
        .nav-burger {
            .offcanvas-header, .offcanvas-footer { background-color: $dark-pink;}
            .offcanvas-body {
                background-color: $bubblegum-pink;
                ul {
                    .nav-item {
                        margin: 30px 0px 0px 30px;
                        a {
                            color: $dark-pink;
                            @include hover-color(white);
                        }
                    }
                }
            }
            .input-group {
                background-color: white;
                border-radius: 100px;
                width: 100%;
                input {
                    border-radius: 100px;
                    border: none;
                    color: $dark-pink;
                }
            }
            div .navbar-toggler {
                border: none;
                &:focus {box-shadow: 0 0 0 0 rgba(229, 158, 185, 0.25);}
            }
            .offcanvas {
                transition: transform 0.3s ease-in-out;
                .offcanvas-header .btn-close:focus {box-shadow: 0 0 0 0 rgba(229, 158, 185, 0.25);}
            }
        }
    }
/*Desktop navbar*/
    .nav-desktop {
        background-color: $bubblegum-pink;
        .nav-pills li {
            a {
                color: $dark-pink;
                margin: 0px 10px 0px 10px;
                @include hover-color(white);
            }
            /*Dropdown*/
            ul {
                background-color: $bubblegum-pink;
                border-radius: 0px;
                border: none;
                li a {color: $dark-pink;}
                li:hover, li a:hover {@extend %dark-bg-white-text;}
            }
        }
    }
/*Index Main*/
    main {
        section {
            h5{color: $dark-pink;}
            /*Carousel*/
            #flowerCarousel {
                background-color: $dusty-pink;
                border-radius: 10px;
                .carousel-indicators button {background-color: $dark-pink;}
                .carousel-caption {
                    color: $dark-pink;
                    right: 0;
                    left: 0;
                    a {
                        color: $dark-pink;
                        @include hover-color(white);
                    }
                }
                button span {
                    background-color: $dark-pink;
                    border-radius: 10px;
                }
            }
            /*Card*/
            .card-img-overlay{
                background-color: rgba(149, 49, 84, 0.8);
                bottom: 50%;
            }
            /*Events*/
            .events{
                background-color: $dusty-pink;
                border-radius: 10px;
                .col-md-6 {
                    transition: transform .2s;
                    color: $dark-pink;
                    &:hover {transform: scale(1.1);}
                }
                nav ul{
                    a, .active a, a:hover, a:active, a:focus{border-color: $dark-pink;}
                    a{@extend %bubblegum-bg-dark-text;}
                    .active a{@extend %dark-bg-white-text;}
                    a:active, a:focus{box-shadow: 0 0 0 0.25rem rgba(122, 20, 59, 0.25);}
                    a:hover{
                        background-color: $light-pink;
                        color: $dark-pink;
                    }
                }
            }
            /*Accordion*/
            .faqs{
                a, button{
                    @extend %dark-bg-white-text;
                    border-color: $dark-pink;
                    &:not(.collapsed){
                        @extend %dark-bg-white-text;
                        &::after{--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
                    }
                    &::after{
                        --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    }
                    &:hover{
                        background-color: $dusty-pink;
                        color: $dark-pink;
                        border-color: $dark-pink;
                    }
                    &:active, &:focus{
                        border-color: $dark-pink;
                        box-shadow: 0 0 0 0.25rem rgba(122, 20, 59, 0.25);
                    }
                }
                .tips:hover{
                    background-color: $light-pink;
                }
                .accordion{
                    --bs-accordion-bg: transparent;
                    .accordion-item:first-child{
                        button{
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                    }
                    .accordion-item:last-child{
                        button, .accordion-body{
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
                .accordion-body{@extend %bubblegum-bg-dark-text;}
            }
        }
/*ALFONSO'S PART*/
    /*Wedding Banner Section*/
        #wedding-section{
            font-family: $aboreto;
            background-image: url(../imgs/Weddings/weddingBanner.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px;
            min-height: 100px;
            max-width: 1548px;
            @media(min-width:768px){
                min-height: 500px;
            }
            div{
                background-color: #e59eb9b0;
                max-width:400px ;
                min-height: 100px;
                @media(min-width:768px){
                    margin-top:180px ;
                }
                span{
                    font-family: $aboreto;
                    letter-spacing: 5px;
                    text-align: center;
                }
            }
        }
        #wedding-main-elements{
            #wedding-info, #wedding-prods{background-color: $dusty-pink;}
            @media (min-width: 1000px) and (max-width: 1400px){
                #navbar-wedding{display: none;}
                #wedding-scroll{width: 100%;}
            }
            .fs-5, h5, .fs-4, h4, h3, hr{color: $dark-pink;}
            p{color: #fff;
                span{color: $dark-pink;}
            }
            .nav-pills .nav-link.active,
            .nav-pills .show > .nav-link {
                color: #fff;
                background-color: $dark-pink;
            }
            .navbar-nav-scroll {
                max-height:30vh;

                scrollbar-width: none; //for firefox
                &::-webkit-scrollbar {display: none;}//for chrome
            }
            #wedding-prods{
                p{color: $dark-pink;}
                .col-6 {
                    transition: transform .2s;
                    &:hover {
                        transform: scale(1.1);
                        p{color: $light-pink;}
                    }
                }
            }
        }

        #wedding-list{
            .list-group-item{
                background-color:$dusty-pink;
                color: $dark-pink;
                border:1px solid  $dark-pink;
                p{color: $dark-pink;}
                .title{text-decoration: underline;}
                .badge{
                    background-color: $dark-pink;
                }
                &.active, &:hover{
                    background-color: $dark-pink;
                    .title{color: #fff;}
                    .badge{
                        background-color: $bubblegum-pink;
                    }
                }
            }
        }
    }
/*Wedding & Contact SCSS*/
    .mContact form , #cookie form{
        .btn {
            background-color: $old-dusty-pink;
            border-color: $bubblegum-pink ;
            letter-spacing: 5px;
            &:hover {border-color: $light-pink;}
            &:active {
                //for chrome
                background-color: $dusty-pink-transparent;
                border-color: $light-pink;
            }
        }
    }
/*Contact SCSS*/
    /*Contact Main*/
    .mContact {
        .nav-link {
            background-color: $old-dusty-pink ;
            border-color: $bubblegum-pink ;
        }
        .nav-link:hover {border-color: $dark-pink;}
        .nav-tabs {border-bottom: 2px solid $dark-pink}
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
            background-color: $dark-pink;
            border-color: $bubblegum-pink;
        }
        #forms-nav {background-color: $dusty-pink;}
        .dropdown-menu {
            background-color: $light-pink;
            border: 1px solid $old-dusty-pink ;
            border-radius: 5px;
            form {
                max-width: 19rem;
                .btn:hover {border-color: $dark-pink;}
            }
        }
        form {
            .form-control::placeholder {color: $dark-pink;}
            .form-control:focus {box-shadow: 0 0 0 0.25rem $dusty-pink-transparent;}
            .input-group-text {
                background-color: $old-dusty-pink;
                border: 1px solid $bubblegum-pink;
            }
            label {color: $dark-pink;}
            label[for="nombre"] {
                @media (max-width:576px) {
                    color: #fff;
                }
              }
            input,
            select,
            textarea {
                color: $dark-pink;
                background-color: #fff;
                border-color: $bubblegum-pink;
                scrollbar-width: none; // for firefox
            }
            textarea::-webkit-scrollbar {display: none;}// for chrome
            select option{font-family: $alexandria;}
            select:focus {
                border-color: transparent;
                box-shadow: 0 0 0.2rem 0.25rem transparent;
            }
            // compatible with firefox y chrome
            [type="file"]::file-selector-button {
                background-color: $old-dusty-pink;
                color: #fff;
            }
            .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
                background-color: $old-dusty-pink;
                border-color: $bubblegum-pink;
            }
            textarea {
                min-height: 75px;
                max-height: 150px;
            }
            #Supporting-file{
                .btn{
                    color: #fff;
                    &.active{color: #fff;}
                }

            }
        }
    }
    /*Cookie Modal*/
    #cookie {
        hr,a,label{color: $dark-pink;}
        form .form-check-input {
            border-color: $dark-pink;
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23953154'/%3e%3c/svg%3e");
            &:checked{
                background-color: $dark-pink;
                --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
            }
        }
    }
    .tooltip-inner{
            background-color: $dark-pink;
            font-size: large;
        }
    /*Contact & Wedding Forms*/
    .mContact form , #cookie form{
        .btn {
            background-color: $old-dusty-pink;
            border-color: $bubblegum-pink ;
            letter-spacing: 5px;
            &:hover {border-color: $light-pink;}
            &:active {
                //for chrome
                background-color: $dusty-pink-transparent;
                border-color: $light-pink;
            }
        }
    }
    /*Contact Aside*/
    aside {
        color: $dark-pink;
        flex-basis: 280px;
        .carousel-item {height: 210px;}
        .side {
            background-color: $dusty-pink;
            height: 680px;
            min-width: 200px;
            #coment {
                overflow-y: auto;
                //hide scrollbar
                scrollbar-width: none; //for firefox
                &::-webkit-scrollbar {display: none;}//for chrome
            }
        }
    }
    /*Contact Modal*/
    .modal-header {background-color: $old-dusty-pink;}
    /*Contact Toast*/
    .toast {
        .toast-header {
            background-color: $dark-pink;
            img {max-width: 130px;}
        }
        .toast-body {
            background-color: $dusty-pink;
            span {color: $dark-pink}
            svg {
                color: $dark-pink;
                width: 30px;
                height: 30px;
            }
        }
    }
    /*Contact toast & modal close buttons*/
    .toast, .modal {
        .btn-close:focus {box-shadow: 0 0 0 0.25rem $light-pink}
        .btn-close {background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;}
    }
/*ALEXANDRA'S PART*/
    /*Footer*/
    footer {
        background-color: $dark-pink;
        ul li a:hover{
            text-decoration: underline;
        }
        hr {
            margin-left: 20%;
            margin-right: 20%;
        }
    }
}