%bubblegum-bg-dark-text {
  background-color: $bubblegum-pink;
  color: $dark-pink;
}
%dark-bg-white-text {
  background-color: $dark-pink;
  color: white;
}
%light-bg-dark-text {
  background-color: $light-pink;
  color: $dark-pink;
}