
/*Colors*/
    $dark-pink: #953154;
    //$old-dusty-pink: #b67a8e;
    $old-dusty-pink: #953154a3;
    $dusty-pink: #d9aebd;
    $dusty-pink-transparent:#9531544d;
    $bubblegum-pink: #e59eb9;
    $light-pink: #fde4fe;

/*Fonts and sizes*/
    $aboreto: 'Aboreto', serif;
    $alexandria: 'Alexandria', serif;